* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: calc(1vw + 0.2em);
    letter-spacing: 0.2em;
    color: #0d0c3a;
    height: 100vh;
    background-color: #0097e6;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
  }

  input {
    display: none;
  }

  input:checked + label span .close-icon {
    transform: rotate(45deg);
  }
  
  label {
    cursor: pointer;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1rem auto;
    row-gap: 0.5rem;
    width: 100%;
    padding: 1.2rem 1rem 0.5rem 1rem;
    margin: 0.5rem 0;
    box-shadow: 0 0 0.4rem 0 #333472;
    border-radius: 1em;
    font-weight: 500;
    color: #a1deff;
  }

  input:checked + label {
    background-image: linear-gradient(30deg, #0097e6 40%, #4fbcf7);
  }

  label span {
    text-align: right;
  }

  label span .close-icon {
    width: 2em;
    transform-origin: center center;
    transition: all ease 0.3s;
  }

  .image {
    display: none;
    transition: all ease-in-out 2s;
  }

  input:checked + label .image {
    display: block;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .image img {
    border-radius: 0.5em;
    animation: appearing 0.7s ease-in-out forwards;
  }

  @keyframes appearing {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
  }

  @media (min-width: 320px) {
    body {
        font-size: 0.8em;
    }
    
    main {
        width: 90%;
    }

    label {
        row-gap: 1em;
        padding: 1em;
    }

    @keyframes appearing {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 100%;
            opacity: 1;
        }
      }
  }